/* css styles */


/* Transición suave para el zoom */
img.zoomable {
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

/* Estado de zoom permanente */
img.zoomable.zoomed {
  transform: scale(1.5); /* Nivel de zoom ajustable */
  z-index: 10;
  cursor: zoom-out; /* Cambia el cursor para indicar que se puede deshacer el zoom */
}

